<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vs.Properties.DDSUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="vs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
        <sectionGroup name="spring">
            <section name="resourceHandlers" type="Spring.Context.Support.ResourceHandlersSectionHandler, Spring.Core"/>
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
        </sectionGroup>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore"/>
    </configSections>
    <userSettings>
        <vs.Properties.DDSUserSettings configSource="conf\DDSUserSettings.config"/>
    </userSettings>
    <system.serviceModel>
        <extensions configSource="conf\WCF\extensions.config"/>
        <services configSource="conf\WCF\services.config"/>
        <behaviors configSource="conf\WCF\behaviors.config"/>
        <bindings configSource="conf\WCF\bindings.config"/>
        <client configSource="conf\WCF\client.config"/>
    </system.serviceModel>
    <phpNet>
        <classLibrary>
            <add assembly="mscorlib"/>
            <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            <add assembly="DDSApp_Phalanger"/>
            <add assembly="PhpNetCurl, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="curl"/>
            <!--add assembly="php_curl.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="curl" /-->
            <add assembly="php_mcrypt.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mcrypt"/>
        </classLibrary>
    </phpNet>
    <configProtectedData>
        <providers>
            <clear/>
            <add name="DDSProtectionProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="DDSKeys" useMachineContainer="true"/>
        </providers>
    </configProtectedData>
    <applicationSettings>
        <vs.Properties.Settings>
            <setting name="DDSApp_SWF_ZRFC_SD_DELIVERY_XI_8af22629d01e3fd5a540870a0d828a23_Service" serializeAs="String">
                <value>http://10.134.140.10:50000/XISOAPAdapter/MessageServlet?senderParty=SD_DELIVERY_0001&amp;senderService=PIE800_ABAP&amp;receiverParty=&amp;receiverService=&amp;interface=SD_DELIVERY_0001_OUT_SI&amp;interfaceNamespace=http://fih.foxconn.com/pi2r3/sd_delivery_0001</value>
            </setting>
        </vs.Properties.Settings>
    </applicationSettings>
    <dataConfiguration defaultDatabase="not_set">
        <providerMappings>
            <add databaseType="EnterpriseLibraryContrib.Data.DB2.DB2Database, EnterpriseLibraryContrib.Data.DB2, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null" name="IBM.Data.DB2"/>
        </providerMappings>
    </dataConfiguration>
    <system.data>
        <DbProviderFactories>
            <clear/>
            <add name="OracleClient Data Provider" invariant="System.Data.OracleClient" description=".Net Framework Data Provider for Oracle" type="System.Data.OracleClient.OracleClientFactory, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data/>
        </DbProviderFactories>
    </system.data>
    <appSettings>
        <!-- basic -->
        <add key="CurrentRevision" value="-1"/>
        <add key="VersionControl.URL" value="svn://SIDC-DCI-13790.GDS.COM/svnbox/Updates/DCIMail"/>
        <add key="VersionControl.Account" value="public"/>
        <add key="VersionControl.Password" value="!QAZXSW@"/>
        <add key="DomainProxyMessageOff" value="1"/>
        <add key="HeartBeatingMessageOff" value="1"/>
        <add key="ConfigMessageOff" value="1"/>
        <add key="StartupMusicOff" value="1"/>
        <add key="PeriodOfMonitorInSec" value="1200"/>
        <!-- kill pre-instance if TRUE and DDSCore.id is existed -->
        <add key="AutoKillPreInstance" value="1"/>
        <!-- 0=normal(SystemTray), 1=service(without console and tray)-->
        <add key="StartMode" value="0"/>
        <add key="ConsoleWindowOff" value="0"/>
        <add key="SystemTrayOff" value="0"/>
        <add key="IsCOMServerOn" value="0"/>
        <add key="IsSingleton" value="0"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
        <!-- command console -->
        <add key="AdminConsoleOn" value="1"/>
        <!-- MAE socket server ; for receiving connection request from MAE client, default="*:9300" -->
        <add key="MAEService.endpoint" value="127.0.0.1:9300" />
        <add key="MAEService.db" value="Data Source=./conf/dds3.mae.sqlite;Pooling=true;FailIfMissing=false" />
    </appSettings>
    <spring>
        <resourceHandlers>
            <handler protocol="dds" type="vs.com.foxconn.easbg.easbu.dci.ped.dds.DDSSpringConfigHelper, DDSCore"/>
        </resourceHandlers>
        <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core" name=".">
            <resource uri="dds://pre-default"/>
            <resource uri="assembly://DDSCore/vs/spring.xml"/>
            <resource uri="dds://after-default"/>
            <context name=".ctx1">
                <resource uri="config://spring/objects"/>
            </context>
        </context>
        <objects xmlns="http://www.springframework.net" default-lazy-init="true">
            <description>DCI-DDS built-in components</description>
            <object id="s1" type="string">
                <constructor-arg type="Char()" value="context is ctx-1"/>
            </object>
            <object name="a" parent="s0"/>
        </objects>
    </spring>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
                <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL -->
                <!-- otherwise BasicConfigurer.Configure is used   -->
                <!-- log4net configuration file is specified with key configFile -->
                <arg key="configType" value="INLINE"/>
                <!-- arg key="configFile" value="~/log4net.config" / -->
            </factoryAdapter>
        </logging>
    </common>
    <log4net configSource="Log4Net.config"/>
    <runtime>
        <NetFx40_LegacySecurityPolicy enabled="true"/>
        <gcConcurrent enabled="true"/>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <publisherPolicy apply="yes"/>
            <probing privatePath="bin\;lib\;lib\plugins_imonitor\"/>

            <!-- Baidu BOS Utils -->
            <dependentAssembly>
                <!-- 因原本 Baidu BOS Utils 綁定 NewtonJson 7.0.0.  更新: Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed-->
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>

            <!-- Common.Logging.Log4Net adapter -->
            <dependentAssembly>
                <!-- 因原本 Spring 綁定 Common.Logging.Core_3.4.1.0 -->
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <!-- 因原本 Spring 綁定 Common.Logging_3.4.1.0 -->
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
            </dependentAssembly>
            <!--dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="681549d62126b7b8" />
                <codeBase version="1.2.9.0" href="lib/log4net1.2.9.0/log4net1.2.9.0.dll" />
            </dependentAssembly-->
            <!--dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
                <codeBase version="1.2.10.0" href="bin/log4net1.2.10.0/log4net1.2.10.0.dll" />
            </dependentAssembly-->
            <dependentAssembly>
                <!-- 因原本 Log4Net1213 綁定 Log4Net_1.2.13.0 -->
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
            </dependentAssembly>

            <!-- StackExchange.Redis-->
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>
