<?xml version="1.0" encoding="utf-8" ?>
<log4net>
        <appender name="RollingFileAppender_LOGS_local_others" type="log4net.Appender.FileAppender">
            <file type="log4net.Util.PatternString"
                  value="C:/DDS/all_logs/%property{FACTORY}/%property{EQType}/%property{FILENAME}_others.txt" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <!--staticLogFileName value="true" /-->
            <appendToFile value="false" />

            <!-- rolling size shreshold -->
            <!--maximumFileSize value="10MB" /-->

            <!-- 每個檔案最大size -->
            <!-- rollingStyle value="Size" /-->
            <!-- maxSizeRollBackups value="100" /-->

            <!--datePattern value="yyyyMMdd-HHmm'.log'" /-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%logger] %-5level%n%message%n%n" />
            </layout>
        </appender>

        <appender name="RollingFileAppender_LOGS_local_App" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString"
                  value="C:/DDS/all_logs/%property{FACTORY}/%property{EQType}/%property{FILENAME}_App.txt" />
            <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
            <staticLogFileName value="true" />
            <appendToFile value="true" />

            <!-- rolling size shreshold -->
            <maximumFileSize value="10MB" />

            <!-- 每個檔案最大size -->
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="100" />

            <!--datePattern value="yyyyMMdd-HHmm'.log'" /-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level%n%message%n%n" />
            </layout>

            <!--errorHandler type="vs.com.foxconn.easbg.easbu.dci.ped.util.Log4netAppenderErrorHandler, DDSCore" /-->
        </appender>

        <appender name="RollingFileAppender_LOGS_local_Aspect" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString"
                  value="C:/DDS/all_logs/%property{FACTORY}/%property{EQType}/%property{FILENAME}_Aspect.txt" />
            <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
            <staticLogFileName value="true" />
            <appendToFile value="true" />

            <!-- rolling size shreshold -->
            <maximumFileSize value="10MB" />

            <!-- 每個檔案最大size -->
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="100" />

            <!--datePattern value="yyyyMMdd-HHmm'.log'" /-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %property{FILENAME}%n%message%n%n" />
            </layout>

            <!--errorHandler type="vs.com.foxconn.easbg.easbu.dci.ped.util.Log4netAppenderErrorHandler, DDSCore" /-->
        </appender>

        <!-- Set default logging level to DEBUG -->
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender_LOGS_local_others" />
        </root>

        <!-- Set logging as DDS application default logger -->
        <logger name="default" additivity="false">
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender_LOGS_local_App" />
        </logger>

        <!-- Set logging as DDS application logger for AOP-->
        <logger name="aspect" additivity="false">
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender_LOGS_local_Aspect" />
        </logger>

        <!-- Set logging for Spring to INFO.  Logger names in Spring correspond to the namespace 
        <logger name="spring">
            
        </logger>-->
</log4net>