<?xml version="1.0"?>
    <vs.Properties.DDSUserSettings>
        <setting name="dbnumber" serializeAs="String">
            <value>1</value>
        </setting>

				<!-- 進門COM口 -->
        <setting name="EnterDoorPort" serializeAs="String">
            <value>COM3</value>
        </setting>
        <!-- 出門COM口 -->
        <setting name="ExitDoorPort" serializeAs="String">
            <value>COM3</value>
        </setting>

        <setting name="CardFreqMode" serializeAs="String">
            <value>高頻</value>
        </setting>
        
        <!-- 進門HF讀卡器 -->
        <setting name="CardReaderEnterPort" serializeAs="String">
            <value>COM3</value>
        </setting>
        <!-- 出門HF讀卡器 -->
        <setting name="CardReaderExitPort" serializeAs="String">
            <value>COM3</value>
        </setting>
        <!-- HF讀卡器傳輸速度 -->
        <setting name="CardReaderBaudRate" serializeAs="String">
            <value>57600</value>
        </setting>

				<!-- 燈COM口 -->
        <setting name="LEDPort" serializeAs="String">
            <value>COM3</value>
        </setting>
        <!-- 燈開啟命令 -->
        <setting name="LEDOpenCommand" serializeAs="String">
            <value>A0 01 01 A2</value>
        </setting>
        <!-- 燈關閉命令 -->
        <setting name="LEDCloseCommand" serializeAs="String">
            <value>A0 01 00 A1</value>
        </setting>

				<!-- 進門ESD感測器 -->
        <setting name="ESDEnterPort" serializeAs="String">
            <value>COM3</value>
        </setting>
        <!-- 出門ESD感測器 -->
        <setting name="ESDExitPort" serializeAs="String">
            <value>COM3</value>
        </setting>

				<!-- 是否FDR? -->
        <setting name="IsFDREnabled" serializeAs="String">
            <value>1</value>
        </setting>
        <!-- FDR比對門檻值 -->
        <setting name="FDRThrehold" serializeAs="String">
            <value>0.7</value>
        </setting>

        <setting name="ClearAfterSec" serializeAs="String">
            <value>3</value>
        </setting>
    </vs.Properties.DDSUserSettings>